<div class="row">
<div class="col">
  <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{product.image}}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text">{{product.description}}</p>
        <button class="btn btn-danger" (click)="deleteProductById(product.id)">Delete</button>
        <button class="btn btn-danger" (click)="updateProduct(product.id,newProduct)">Update</button>

        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
</div>


<div class="col">
<button class="btn btn-success m-3 p-2" (click)="addProducts()"> Add Product</button>

<button class="btn btn-success m-3 p-2" (click)="getProductDataById(1)"> Get Product 1</button>
<button class="btn btn-success m-3 p-2" (click)="getProductDataById(2)"> Get Product 2</button>
<button class="btn btn-success m-3 p-2" (click)="getProductDataById(3)"> Get Product 3</button>
</div>
</div>
<hr>

<div class="row">

<div class="col-4" *ngFor="let product of products">
     <div class="card" >
    <img src="{{product.image}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{product.title}}</h5>
      <p class="card-text">{{product.description}}</p>
     <p class="card-text">Price is {{product.price}}</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>

</div>

</div>